    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <h2>新規登録</h2>
          </h1>
        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
        
 　　　　　　   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      　　<%= render "devise/shared/error_messages", resource: resource %>
      　　
      　　    <div class="field">
              <%= f.label :image, class: "label" %>
              <p class="control has-icons-left">
              <%= f.attachment_field :image, autofocus: true %>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
      　　  
      
            <div class="field">
              <%= f.label :name, class: "label" %>
              <p class="control has-icons-left">
              <%= f.text_field :name, autofocus: true %>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            
            
          
            <div class="field">
              <%= f.label :email, class: "label" %>
              <p class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <span class="icon is-small is-left">
                 <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
            
            
            <div class="field">
              <%= f.label :self_introduction, class: "label" %>
              <p class="control has-icons-left">
              <%= f.text_area :self_introduction, autofocus: true %>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            
            
            
            <div class="field">
              <%= f.label :password, class: "label" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "new-password" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          
          
            <div class="field">
              <%= f.label :password_confirmation, class: "label" %>
              <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          
            <div class="actions">
              <%= f.submit "新規登録", class: "button is-success" %>
            </div>
          <% end %>
          
          
        　</div>
    　　</div>
  　　</div>
　　</section>
