<body>
  <div>
    <nav></nav>
      <main>
          <div class="container">
            <h1 class="form-title">アカウント情報</h1>
            　<div class="row">
              　<div class="col-md-6 col-md-offset-3 form-wrapper">

                  <dl>
                    <dt>email</dt>
                    <dd><%= @user.email %></dd>
                    <dt>name</dt>
                    <dd><%= @user.name %></dd>
                    <dt>self_introduction</dt>
                    <dd><%= @user.self_introduction %></dd>
                    <dt>image</dt>
                    <dd><a href="<%= @user.image_url %>" target="_blank"><%= attachment_image_tag @user, :image, size: "100x100" %></a><br>
                      <span>name: <%= @user.image_filename %></span><br>
                      <span>size: <%= number_to_human_size(@user.image_size) %></span>
                    </dd>
                    <span><%= link_to 'パスワードの変更はこちら', update_password_path %></span>
                  </dl>
                </div>
              </div>
            </div>
        </main>
      <aside></aside>
    </div>
  </body>
