
<body>
  <div>
      <main>
      <div class="video-container">
        <div class="video-wrap">
          <%= video_tag(asset_path("sample.mp4"), :autoplay => true, :loop => true, muted: true) %>
          <div class="comment">
                    <p>このページでは、より車の魅力を少しでも知ってほしいと思い受けました！</p>
                    <p>車に少しでも興味を持っていただけた方におすすめのポイントを紹介しようと思います。</p>
                    <p>維持費の方は、正直かかってきてしまうのでコストはかかるのですが、それ以上に楽しさや良さがあります！</p>
                    <p>単に移動の足として乗ることも、もちろんいいのですが、愛着を持って乗ることでより魅力を知ってもらえるかなと信じています！</p>
                    <p>魅力なポイントを個人的に感じた部分ですが、一部ご紹介させていただきます！</p>
                    <p>・運転が不安な方でも安心！<%= link_to "安全装備", 'https://jaf.or.jp/common/safety-drive/new-technology/asv' %>の充実</p>
                    <p>・思い通りに操る楽しみ！</p>
                    <p>・第二の自宅、自由な空間！</p>
                    <p>・好きな音楽を家で聴くのとは、また違う感覚で聞ける！</p>
                    <p>個人的な意見ですが、もし車を購入する際は、なんとなく選ばず必ずほしい！と思える車を買ってほしいです！</p>


                    <p>車ってやっぱり維持費がかかったりするのが・・</br>
                    って方におすすめなのがカーシェアリングです。ごく一部ですがご紹介させていただきます！</p>
                    <%= link_to 'タイムズカーシェア', 'https://share.timescar.jp/' %>
                    <%= link_to 'Anyca', 'https://anyca.net/' %>
                    <%= link_to 'EveryGo', 'https://everygo.honda.co.jp/' %>

          </div>
        </div>
      </div>
      </main>
  </div>
</body>
























