  <div class="theTarget">
        <!--#　asset_pathを使うと適切な場所を選んで持ってきてくれる-->
        <div style="background-image: url(<%= asset_path('test1.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test2.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test3.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test4.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test5.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test6.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test7.jpg') %>)"></div>
  </div>
<!--#javascriptの順番を正すために直接記述をした-->
<script>
  // オプションを指定してSkipprの実行
    $(".theTarget").skippr({
      // スライドショーの変化（"fade" or "slide"）
      transition : 'fade',
      // 変化にかかる時間（ミリ秒）
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形（"block" or "bubble"）
      navType : 'block',
      // 子要素の種類（"div" or "img"）
      childrenElementType : 'div',
      // ナビゲーション矢印の表示（trueで表示）
      arrows : true,
      // スライドショーの自動再生（falseで自動再生なし）
      autoPlay : true,
      // 自動再生時のスライド切替間隔（ミリ秒）
      autoPlayDuration : 5000,
      // キーボードの矢印キーによるスライド送りの設定（trueで有効）
      keyboardOnAlways : true,
      // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
      hidePrevious : true
    });
</script>