
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/skippr.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="theTarget">
        <div style="background-image: url(<%= asset_path('test1.jpg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test2.jpg') %>"></div>
        <div style="background-image: url(<%= asset_path('test3.jpg') %>"></div>
        <div style="background-image: url(<%= asset_path('test4.jpg') %>"></div>
        <div style="background-image: url(<%= asset_path('test5.jpg') %>"></div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/skippr.min.js"></script>
    <script src="js/script.js"></script>
  </body>
<h1>MycarReviewer</h1>
<p><%= link_to "車を所有して、自由にいろんな場所に駆け抜ける喜びを共有しよう" , posts_path%></p>
</html>