<body>
  <div>
    <nav></nav>
      <main>
        <div class="container">
          <h1 class="form-title">投稿編集画面</h1>
            　<div class="row">
              　<div class="col-md-6 col-md-offset-3 form-wrapper">
                <!-- form_with部分 -->
                <%= form_with model:@post, local:true do |f| %>

                <div class = 'form-group fas fa-image'>
                    <%= f.label :car_image, "車の写真" %>
                    <%= f.attachment_field :car_image %>
                </div></br>
                  
                <div class = 'form-group fas fa-car'>
                    <%= f.label :car_name, "車のメーカー" %>
                    <%= f.select :maker_id, options_from_collection_for_select(Maker.all, :id, :maker_name , 1) %>
                </div></br>

                <div class = 'form-group fas fa-car'>
                    <%= f.label :car_name, "車の名前" %>
                    <%= f.text_field :car_name, autofocus: true, class: "form-control", placeholder: "車種、車名" %>
                </div></br>

                <div class = 'form-group fas fa-comment-alt'>
                    <%= f.label :detail, "写真の内容について" %>
                    <%= f.text_area :detail, class: "form-control", placeholder: "どういった場所で撮影した記入" %>
                </div></br>

                <div class = 'form-group fas fa-map-marker-alt'>
                   <%= f.label :photo_address, "写真の住所" %>
                   <%= f.text_field :photo_address, class: "form-control", placeholder: "住所入力、場所の名称"  %>
                </div></br>

                <div class = 'form-group fas fa-hand-point-down'>
                   <%= f.label :comment, "カスタマイズポイント" %>
                   <%= f.text_area :comment, class: "form-control", placeholder: "愛車のアピールポイントを記載"  %>
                </div></br>

                <div>
                    <%= f.submit '保存', class: "btn btn-success" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </main>
      <aside></aside>
    </div>
</body>

