<body>
  <div>
    <nav></nav>
      <main>
        <div class="container">
            <h1 class="form-title">投稿詳細画面</h1>
            　<div class="row">
              　<div class="col-md-6 col-md-offset-3 form-wrapper">
                  <div>
                    <p><a href="<%= @post.car_image_url %>" target="_blank"><%= attachment_image_tag @post,:car_image,format: 'jpeg',fallback: "no_image.jpg",size: "400x400" %></a><br>
                      <span>name:<%= @post.car_image_filename %></span><br>
                      <span>size:<%= number_to_human_size(@post.car_image_size) %></span><br>
                      <span>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></span>
                      <!--#いいね機能-->
                      <% if @post.favorited_by?(current_user) %>
                      <span>
                        <%= link_to post_favorites_path(@post), method: :delete do %>
                            ♥<%= @post.favorites.count %> いいね
                        <% end %>
                      <% else %>
                        <%= link_to post_favorites_path(@post), method: :post do %>
                            ♡<%= @post.favorites.count %> いいね
                        <% end %>
                      </span></br>
                      <% end %>
                      <span>コメント件数：<%= @post.car_comments.count %></span></br>
                      <span>車の名前:<%= @post.car_name %></span></br>
                      <span>写真の住所:<%= @post.photo_address %></span></br>
                      <span>写真の内容について:<%= @post.detail %></span></br>
                      <span>カスタマイズポイント:<%= @post.comment %></span></br>
                      <% @post.car_comments.each do |car_comment| %>
                      <span>ユーザー名:<%= car_comment.user.name %></span></br>
                      <span>コメント:<%= car_comment.post_comment %></span></br>
                      <span>投稿日時:<%= car_comment.created_at.strftime('%Y/%m/%d') %></span></br>
                      <% if car_comment.user == current_user %>
                      <span><%= link_to "コメント削除", post_car_comment_path(car_comment.post, car_comment), method: :delete, class: "btn btn-danger" %></span>
                      <% end %>
                      <% end %>
                      <span>
                      <%= form_with(model:[@post, @car_comment], local: true) do |f| %>
                        <%= f.text_area :post_comment, autofocus: true, rows:'5',placeholder: "コメントをここに" %>
                      <%= f.submit "送信する",class: "btn btn-success" %>
                      <% end %>
                      </span>
                      <% if @post.user == current_user %>
                      <span><%= link_to "投稿削除", post_path(@post), method: :delete, class: "btn btn-danger" %></span></br>
                      <% end %>
                    </p>
                　</div>
              </div>
            </div>
          </div>
        </main>
      <aside></aside>
    </div>
</body>

