<body>
        <div>
          <aside></aside>
            <main>
              <h1>投稿詳細画面</h1>
                <div>
                  <p><a href="<%= @post.car_image_url %>" target="_blank"><%= attachment_image_tag @post,:car_image,format: 'jpeg',fallback: "no_image.jpg",size: "400x400" %></a><br>
                    <span>name:<%= @post.car_image_filename %></span><br>
                    <span>size:<%= number_to_human_size(@post.car_image_size) %></span>
                  </p>
                    <p>写真の内容について:<%= @post.detail %></p></br>
                    <p>車の名前:<%= @post.car_name %></p></br>
                    <p>写真の住所:<%= @post.photo_address %></p></br>
                    <p>カスタマイズポイント:<%= @post.comment %></p></br>
                    <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p></br>

                    <!--#いいね機能-->
                      <% if @post.favorited_by?(current_user) %>
                        <p>
                          <%= link_to post_favorites_path(@post), method: :delete do %>
                            ♥<%= @post.favorites.count %> いいね
                          <% end %>
                        </p>
                        <% else %>
                        <p>
                          <%= link_to post_favorites_path(@post), method: :post do %>
                            ♡<%= @post.favorites.count %> いいね
                          <% end %>
                        </p>
                      <% end %>
                    <!--#いいね機能-->

                      <div>
                        <p>コメント件数：<%= @post.car_comments.count %></p>
                        <% @post.car_comments.each do |car_comment| %>
                          <%= car_comment.user.name %>
                          <%= car_comment.created_at.strftime('%Y/%m/%d') %><%= car_comment.post_comment %>
                        <% end %>
                      </div>
                      <div>
                        <%= form_with(model:[@post, @car_comment], local: true) do |f| %>
                          <%= f.text_area :post_comment, rows:'5',placeholder: "コメントをここに" %></br>
                          <%= f.submit "送信する" %>
                        <% end %>
                      </div>
                    <% if @post.user == current_user %>
                      <p><%= link_to "投稿削除", post_path(@post), method: :delete %></p>
                    <% end %>
                </div>
            </main>
          <aside></aside>
        </div>
</body>
